# This is a basic workflow to help you get started with Actions

name: Push from Tag

on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2  
        with:
          fetch-depth: 0

      - name: Modify Readme
        run: | 
          echo $(date) >> README.md
          cat README.md

      - name: Git commit, rebase onto master
        run: |
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --local user.name "$GITHUB_ACTOR"
          git fetch
          git status
          git add README.md
          git commit -m 'Updated README.md' 
          echo ---
          git branch -a
          echo ---
          git rebase HEAD origin/test
          echo ---
          git branch -a
          echo ---
          git status
          git log -n4
    
    # git push origin test
          
      # - name: Git rebase to master
      #   run: |
      #     git rebase HEAD test


      # - name: Commit Changelog
      #   uses: stefanzweifel/git-auto-commit-action@v4.1.6
      #   with:
      #     commit_message: Update README
      #     branch: test
      #     file_pattern: README.md
