# This is a basic workflow to help you get started with Actions

name: Push from Tag

on:
  push:
    tags: ["v*"]

env:
  PUSH_BRANCH: test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: |
          git status
          git log
          

      - uses: actions/checkout@v2
        with:
          ref: ${{ env.PUSH_BRANCH }}

      - run: |
          git status
          git log
          git symbolic-ref HEAD
          git show-ref --heads

      - name: Modify Readme
        run: echo "$(date)  " >> README.md

      - name: Git commit, rebase onto master
        run: |
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --local user.name "$GITHUB_ACTOR"
          git add README.md
          git commit -m 'Updated README.md' 
          git rebase HEAD $PUSH_BRANCH
          git push

# a couple notes:
#   `git fetch` is essential, as is the explicit track flag on the second checkout.
#   I feel like this could bne more terse, but it works, is easy to understancd
#   and already ate a day, so I'm stopping for now. Maybe someone else will see an
#   obvious optimization I missed

#          git checkout -b test --track origin/test

# v1.0.24 worked
# git push origin test
# - name: Git rebase to master
#   run: |
#     git rebase HEAD test
# - name: Commit Changelog
#   uses: stefanzweifel/git-auto-commit-action@v4.1.6
#   with:
#     commit_message: Update README
#     branch: test
#     file_pattern: README.md
