# This is a basic workflow to help you get started with Actions

name: Push from Tag

on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Modify Readme
        run: echo $(date) >> README.md

      - name: Git commit, rebase onto master
        env:
            BRANCH_NAME: ${{ github.repository }}${{ github.run_id}}
        run: |
          echo $BRANCH_NAME
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --local user.name "$GITHUB_ACTOR"
          git checkout -b $BRANCH_NAME
          git add README.md
          git commit -m 'Updated README.md' 
          git fetch
          git checkout -b test --track origin/test
          git rebase $BRANCH_NAME test
          git push
      
        # v1.0.24 worked
    # git push origin test
    # - name: Git rebase to master
    #   run: |
    #     git rebase HEAD test
    # - name: Commit Changelog
    #   uses: stefanzweifel/git-auto-commit-action@v4.1.6
    #   with:
    #     commit_message: Update README
    #     branch: test
    #     file_pattern: README.md
