# This is a basic workflow to help you get started with Actions

name: Push from Tag

on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Modify Readme
        run: echo $(date) >> README.md

      - name: Git commit, rebase onto master
        run: |
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --local user.name "$GITHUB_ACTOR"
          git branch -a
          git remote show origin
          git fetch origin
          git add README.md
          git commit -m 'Updated README.md' 
          git rebase HEAD origin/test
          
        


      # - name: Commit Changelog
      #   uses: stefanzweifel/git-auto-commit-action@v4.1.6
      #   with:
      #     commit_message: Update README
      #     file_pattern: README.md
